<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<header>Hello Beautiful</header>
		<nav>Menu Goes Here!</nav>
			<%= yield %>
		
		<footer></footer>
	</body>
</html>